<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-secondary">

    {{#erro_form}}
        <div class="alert alert-danger mt-3" role="alert">
            Nenhum campo pode ser vazio!
        </div>
    {{/erro_form}}

    {{^erro_form}}
    <table class="table container-md mt-5">
        
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col">Data de agendamento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{agendamento.name}}</td>
                <td>{{agendamento.address}}</td>
                <td>{{agendamento.telefone}}</td>
                <td>{{agendamento.date}}</td>
            </tr>
        </tbody>
        
    </table>
    {{/erro_form}}
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>