body
{
    box-sizing: border-box;
}
.centralizado
{
    align-items: center;
    justify-content: center;
}
.btn
{
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 15px;
    cursor: pointer;
}
.btn:hover
{
    background: green;
}